# Kronos Project Requirements

# Core
numpy<2
pandas>=2.0.0
torch>=2.0.0

# Transformer/Model
transformers
accelerate
einops==0.8.1
huggingface_hub==0.33.1
safetensors==0.6.2

matplotlib
tqdm

# Visualization & Widgets
plotly
ipywidgets

# Testing
pytest
yfinance
